<div class="pager">
  <button class="btn btn-info" ng-click="reload();">Reload data</button>
</div>

<div class="row">
  <h4>D3 Bar chart (<a href="http://www.ng-newsletter.com/posts/d3-on-angular.html">link</a>)</h4>
  <div class="row">
  	<d3-bar data="data" label="title" on-click="d3OnClick(item)"></d3-bar>
  </div>
<hr>

  <h4>D3 Scatter plot (<a href="http://bl.ocks.org/weiglemc/6185069">link</a>)</h4>

<div class="row">
  	<scatter data="scatter" label="title" on-click="d3OnClick(item)"></scatter>
</div>

<hr>

  <h4>D3 Heatmap (<a href="http://bl.ocks.org/tjdecke/5558084">link</a>)</h4>

<div class="row">
	<div>
  	<heatmap data="heatmap" label="title" on-click="d3OnClick(item)"></heatmap>
  	<div>
</div>

<hr>

  <h4>D3 Word Cloud (<a href="https://github.com/jasondavies/d3-cloud">link</a>)</h4>

<div class="row">
  <div>
    <word-cloud data="words" label="title" on-click="d3OnClick(item)"></word-cloud>
    <div>
</div>
</div>
